@charset "UTF-8";
* {
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background: #f3f3f3;
  min-width: 320px;
}

.all {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #76c7c0 url(../../src/img/header_line-bg.png) 0 bottom repeat-x;
  min-height: 63px;
  overflow: hidden;
}
.header .header__logo {
  float: left;
}
.header .header__nav {
  float: right;
}

.logo .logo__link {
  margin-left: 13px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
}
.logo .logo__link .logo__link--texttrans {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav .nav__links-list {
  margin-top: 7px;
}
.nav .nav__links-list .nav__link-list {
  display: inline;
  margin-right: 23px;
}
.nav .nav__links-list .nav__link-list .nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  background: transparent;
  text-align: center;
  line-height: 30px;
}
.nav .nav__links-list .nav__link-list .nav__link:hover {
  background: #62a29e;
  -webkit-box-shadow: 0px 3px 3px 0px #528b86;
  -moz-box-shadow: 0px 3px 3px 0px #528b86;
  box-shadow: 0px 3px 3px 0px #528b86;
}

.promo {
  background: url(../../src/img/main-pic.jpg);
  max-height: 500px;
}
.promo .promo__txt {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.promo .promo__txt .promo__title {
  display: inline-block;
  width: 346px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  background: #e2534b;
  color: #fff;
  margin-top: 163px;
  line-height: 47px;
  margin-bottom: 0;
}
@media screen and (max-width: 520px) {
  .promo .promo__txt .promo__title {
    display: none;
  }
}
.promo .promo__txt .promo__text {
  display: inline-block;
  width: 470px;
  height: 70px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
  line-height: 26px;
  padding-left: 33px;
  padding-right: 42px;
  padding-top: 7px;
}
@media screen and (max-width: 520px) {
  .promo .promo__txt .promo__text {
    display: none;
  }
}

.services {
  margin-top: 50px;
  text-align: center;
}

.services__title-block {
  max-width: 1170px;
  min-height: 100px;
  margin: 0 auto;
  background: #ececec;
  border-radius: 3px;
  overflow: hidden;
}
.services__title-block .services__title-block-wrap {
  width: 75%;
  float: left;
}
@media screen and (max-width: 1098px) {
  .services__title-block .services__title-block-wrap {
    float: none;
  }
}
.services__title-block .services__title-block-wrap .services__title-block-title {
  font-size: 30px;
  font-weight: 600;
  color: #7f8c8c;
  margin: 17px 0px 0px 23px;
}
.services__title-block .services__title-block-wrap .services__title-block-text {
  font-size: 13px;
  font-weight: normal;
  color: #777777;
  margin: 4px 0px 0 22px;
}

.services__title-block-link {
  display: inline-block;
  width: 200px;
  height: 55px;
  background: #e8645a;
  -webkit-box-shadow: 0px 3px 3px 0px #e2534b;
  -moz-box-shadow: 0px 3px 3px 0px #e2534b;
  box-shadow: 0px 3px 3px 0px #e2534b;
  border-radius: 6px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  float: right;
  text-align: center;
  line-height: 55px;
  margin: 23px 39px 0 0px;
}
@media screen and (max-width: 975px) {
  .services__title-block-link {
    float: none;
    margin-bottom: 20px;
  }
}

.services__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.services__cards .services__card {
  width: 270px;
  height: 312px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  padding-top: 39px;
  position: relative;
}
@media screen and (max-width: 1098px) {
  .services__cards .services__card {
    margin-top: 55px;
  }
}
.services__cards .services__card-link-ico {
  text-decoration: none;
  color: #62bdbd;
  font-size: 60px;
}
.services__cards .services__card-link-ico:hover {
  color: #e2534b;
}
.services__cards .services__card-title {
  font-size: 16px;
  font-weight: 800;
  color: #7f8c8c;
  text-transform: uppercase;
  margin-top: 2px;
}
.services__cards .services__card-text {
  font-size: 13px;
  font-weight: normal;
  color: #777777;
  line-height: 21px;
}
.services__cards .services__card-link-btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: 200px;
  height: 50px;
  background: #76c7c0;
  -webkit-box-shadow: 0px 3px 3px 0px #62b9b0;
  -moz-box-shadow: 0px 3px 3px 0px #62b9b0;
  box-shadow: 0px 3px 3px 0px #62b9b0;
  line-height: 45px;
  position: absolute;
  left: 12%;
  bottom: -7%;
}
.services__cards .services__card-link-btn:hover {
  background: #e8645a;
  -webkit-box-shadow: 0px 3px 3px 0px #e2534b;
  -moz-box-shadow: 0px 3px 3px 0px #e2534b;
  box-shadow: 0px 3px 3px 0px #e2534b;
}

.about {
  background: #ececec url(../../src/img/middle-bg.png) 0 0 repeat-x;
  margin-top: 70px;
}

.about__title {
  text-align: center;
}
.about__title-title {
  font-size: 40px;
  color: #e2534b;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 68px;
}
@media screen and (max-width: 520px) {
  .about__title-title {
    font-size: 30px;
  }
}
.about__title-text {
  font-size: 13px;
  margin: 0;
  color: #777777;
}

.about__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (max-width: 975px) {
  .about__cards {
    justify-content: center;
  }
}
.about__cards .about__card {
  width: 270px;
}
.about__cards .about__card--x2 {
  width: 50%;
}
.about__cards .about__card-title {
  font-size: 16px;
  font-weight: 800;
  color: #7f8c8c;
  margin-top: 58px;
  margin-left: 14px;
  margin-bottom: 34px;
}

.about__card-list-wrap {
  list-style: none;
  padding-left: 25px;
}
.about__card-list-wrap .about__card-list {
  position: relative;
  line-height: 13px;
}
.about__card-list-wrap .about__card-list::before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  color: #e2534b;
  top: 2px;
  left: -11px;
  font-size: 12px;
}

.about_card-list-text {
  font-size: 13px;
  color: #777777;
}

.about__card-text {
  font-size: 13px;
  color: #777777;
  padding-left: 10px;
  padding-right: 31px;
  line-height: 24px;
}

.about__card-text-link {
  color: #e1524b;
}

.about__card-text--bg {
  background: #fff;
  font-style: italic;
  border-radius: 6px;
  position: relative;
}
.about__card-text--bg::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24px 24px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  bottom: -23px;
  left: 22px;
}

.about__card-name {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  padding-left: 52px;
  margin: 0;
}

.footer {
  background: #76c7c0 url(../../src/img/footer_line-bg.png) 0 top repeat-x;
}
.footer .footer__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__cards .footer_card {
  width: 33%;
  margin-top: 47px;
}
@media screen and (max-width: 850px) {
  .footer .footer__cards .footer_card {
    width: 90%;
    text-align: center;
  }
}

.footer__logo .logo__link {
  color: rgba(0, 0, 0, 0.5);
}

.footer__card-text,
.footer__card-tel,
.footer__card-mail {
  color: #fff;
  font-size: 13px;
}

.footer__card-text {
  padding-right: 32px;
}
@media screen and (max-width: 520px) {
  .footer__card-text {
    padding-left: 40px;
  }
}

.footer__card-link {
  color: #fff;
  font-size: 20px;
}

.footer__card-contacts {
  color: rgba(0, 0, 0, 0.5);
}

.footer__card-blog {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
}

.footer__card-blog-mod {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  text-transform: uppercase;
}

.footer__card-blog-text {
  color: #fff;
  font-size: 13px;
}

.footer__card-blog-img {
  float: left;
  margin-right: 10px;
  border-radius: 4px;
}

.footer__card-blog-date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.sub-footer {
  background: #dadada;
}

.sub-footer__text {
  font-size: 12px;
  color: #777777;
  display: inline-block;
}
